@media only screen and (min-width: 800px) {
  .slide-fade-enter-active {
		transition: all .3s ease;
	}
	.slide-fade-leave-active {
		transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
	}
	.slide-fade-enter, .slide-fade-leave-to
	/* .slide-fade-leave-active for below version 2.1.8 */ {
		opacity: 0;
	}
  .mainpage {
    display: flex;
    height: 100%;
    .aside {
      width: 320px;
      background: white;
      box-shadow: 0 2px 2px rgba(10,16,20,.24), 0 0 2px rgba(10,16,20,.12);
      overflow: hidden;
      &-header {
        width: 100%;
        min-height: 200px;
        height: 30%;
        max-height: 280px;
        background-color: lightgrey;
        background-image: url('/static/images/424211.jpg');
        background-size: auto;
        background-position: -600px -110px;
        background-repeat: no-repeat;
        filter: invert(35%);
        transition: all .5s;
        cursor: pointer;
        &:hover {
          transition: all .5s;
          background-position: -600px -10px;
          // background-size: cover;
          filter: invert(10%);
        }
      }
      &-section {
        width: 100%;
        overflow-x: hidden;
        &-menulist {
          font-family: 'Material Icons';
          font-weight: normal;
          li {
            padding: 10px 0;
            display: flex;
            align-items: center;
            cursor: pointer;
            span {
              display: inline-block;
              padding: 0 10px;
              font-size: 0.8rem;
            }
            img {
              padding: 0 10px;
            }
            &:hover {
              background: rgba(10,16,20,.12)
            }
          }
        }
      }
    }
    .show {
      width: 320px;
      transition: all .5s;
    }
    .hide {
      width: 0;
      transition: all .5s;
    }
    .section {
      box-sizing: border-box;
      position: relative;
      width: 100%;
      height: 100%;
      padding: 50px 0;
      overflow-y: auto;
      .router {
        width: 90%;
        max-width: 900px;
        margin: 50px auto 50px;
      }
      .menu {
        display: inline-block;
        position: fixed;
        top: 50px;
        left: 20px;
        padding: 10px;
        z-index: 10;
        cursor: pointer;
      }
      .menu2 {
        display: none;
      }
      .vh {
        transform: rotate(90deg);
        transition: all .5s;
        left: 300px;
      }
      .wh {
        transition: all .5s;
      }
    }
  }
}