<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/three.js"></script>
    <script src="js/DeviceOrientationControls.js"></script>
    <style>
        * {
            padding: 0;
            margin: 0;
        }
        canvas {
            display: block;
        }
    </style>
</head>
<body>
    <div id="one"></div>
    <script>
        var scene = new THREE.Scene();

        var width = window.innerWidth;
        var height= window.innerHeight;
        var one = document.getElementById("one");

        var camera = new THREE.PerspectiveCamera(75,width/height,1,1100);
        var controls = new THREE.DeviceOrientationControls( camera );

        /*load 全景图*/
        var geometry = new THREE.SphereBufferGeometry( 500, 60, 40 );
        geometry.scale( - 1, 1, 1 );
        var material = new THREE.MeshBasicMaterial( {
            map: new THREE.TextureLoader().load( 'images/2294472375_24a3b8ef46_o.jpg' )
        } );
        var mesh = new THREE.Mesh( geometry, material );
        scene.add( mesh );
        /*load 全景图*/
        var renderer = new THREE.WebGLRenderer();
        renderer.setPixelRatio( window.devicePixelRatio );
        renderer.setSize(width,height);
        one.appendChild( renderer.domElement );
        window.addEventListener("resize",onWindowResize,false)
        animation();

        function onWindowResize(){
            camera.aspect = window.innerWidth / window.innerHeight;
            camera.updateProjectionMatrix();
            renderer.setSize( window.innerWidth, window.innerHeight );
        }
        function render(){
        }
        function animation(){
            renderer.render(scene,camera);
            controls.update();
            requestAnimationFrame(animation)
        }
    </script>
</body>
</html>